* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aliceblue;

}

body span {

    color: red;

}

header {
    width: 100%;
    height: 100vh;
}

.container {
    padding: 10px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo h1 span {
    font-weight: bold;
    color: red
}

.logo h1 a {
    color: aliceblue;
    font-size: 47px;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


/* hover after */
nav ul li a::after {
    content: '';
    width: 0%;
    /* perubahaan dari 0 ke 100% membuat animasi */
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s ease;
}

nav ul li a:hover::after {
    /* hover adalah pseudo-class yang digunakan untuk menargetkan elemen ketika pengguna mengarahkan kursor mouse ke atas elemen tersebut. */
    /* after adalah pseudo-element yang digunakan untuk membuat dan memodifikasi konten tambahan setelah elemen yang dipilih.*/
    width: 100%;
}

/* header */
.header-text img.imgProfile {
    width: 350px;
    height: 350px;
    display: flex;
    border-radius: 200px;
    object-fit: cover;
    margin-left: 70%;
    margin-top: -30%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    font-weight: lighter;

}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    padding: 10px;
}

.header-text h1 span {
    /* titik digunakan untuk memanggil class*/
    color: red;
}

.header-text h2 span {
    color: red;
}


/* About */
#about {
    padding: 80px 0;
    color: aliceblue;

}

.row {
    /* The flex container enables a flex context for its direct children, known as flex items. It provides a more efficient and powerful way to lay out */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutColl-1 img.imgAbout {
    width: 450px;
    height: 450px;
    position: inherit;
    object-fit: cover;
    border-radius: 15px;
    margin: 0px -70px;

}

.aboutColl-2 {
    flex-basis: 60%;
}

.aboutColl-2 h1 {
    font-size: 60px;
    font-weight: 600;
    color: aliceblue;
    padding-bottom: 20px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 30px;
}


.tab-titles p {
    font-size: 30px;
    font-weight: bold;
}

.tab-links {
    margin-right: 50px;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-links::after {
    width: 50%;
}

.tab-links:hover::after {
    width: 60%;
}




.tab-contents ul li {
    list-style: none;
    margin: 20px;
    font-size: 20px;
}




.tab-contents ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    position: relative;
}

.tab-contents ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-contents ul li a:hover::after {
    width: 100%;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents {
    display: none;
}


/* scrape data */


#Scrape-data {
    padding: 500px 0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Adjust the height as needed */
}


#Scrape-data article h1 {
    padding-bottom: 20px;
    font-size: 60px;
}


/* lesson learn */
#lesson-learn {
    padding: 80px 0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Adjust the height as needed */
}

.row {
    /* The flex container enables a flex context for its direct children, known as flex items. It provides a more efficient and powerful way to lay out */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#lesson-learn .container {
    /* border: 2px solid  ; */
    margin-left: 70px;
    margin-right: 70px;
}


#lesson-learn article {
    font-size: 30px;
    text-align: center;
}

#lesson-learn article h1 {
    padding-bottom: 20px;
    font-size: 60px;
}




/* harapan setelah lulus */
#harapan {
    padding: 80px 0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Adjust the height as needed */
}

.row {
    /* The flex container enables a flex context for its direct children, known as flex items. It provides a more efficient and powerful way to lay out */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#harapan .container {
    /* border: 2px solid  ; */
    margin-left: 70px;
    margin-right: 70px;
}


#harapan article {
    font-size: 30px;
    text-align: center;
}

#harapan article h1 {
    padding-bottom: 20px;
    font-size: 60px;
}


/* harapan setelah lulus */
#galery {
    padding: 80px 0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
    /* Adjust the height as needed */
}


#galery .documentation h2 {
    padding: 50px;
}

#galery .documentation img {
    width: 440px;
    height: 360px;
    position: relative;
    object-fit: cover;
    border-radius: 40px
}



.row {
    /* The flex container enables a flex context for its direct children, known as flex items. It provides a more efficient and powerful way to lay out */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#galery .container {
    /* border: 2px solid  ; */
    margin-left: 70px;
    margin-right: 70px;
}



#galery article {
    font-size: 30px;
    text-align: center;
}

#galery article h1 {
    padding-bottom: 20px;
    font-size: 60px;
}



/* harapan setelah lulus */
#video {
    padding: 80px 0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust the height as needed */
}

.row {
    /* The flex container enables a flex context for its direct children, known as flex items. It provides a more efficient and powerful way to lay out */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#video .container {
    /* border: 2px solid  ; */
    margin-left: 70px;
    margin-right: 70px;
}


#video article {
    font-size: 30px;
    text-align: center;
}

#video article h1 {
    padding-bottom: 20px;
    font-size: 60px;
}

/* harapan setelah lulus */
#map {
    padding: 80px 0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust the height as needed */
}

.row {
    /* The flex container enables a flex context for its direct children, known as flex items. It provides a more efficient and powerful way to lay out */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#map .container {
    /* border: 2px solid  ; */
    margin-left: 70px;
    margin-right: 70px;
}


#map article {
    font-size: 30px;
    text-align: center;
}

#map article h1 {
    padding-bottom: 20px;
    font-size: 60px;
}

/* footer */

footer {
    text-align: center;
}

footer h1 {
    padding-bottom: 2px;
    color: red;
}

footer p {
    padding: 5px;
}


/* hamburger */
.menu-toggle{
    display: none; 
    flex-direction: column;
    height: 17px;
    justify-content: space-between;
    position: relative;
 }
 .menu-toggle input{
     position: absolute;
     top:-5px;
     left:-3px;
     width:21px;
     height: 21px;
     opacity: 0;
     cursor: pointer;
     z-index: 2;
 }
 .menu-toggle span{
     display: block;
     width: 21px;
     height: 2px;
     background-color: whitesmoke;
     border-radius: 3px;
     transition: all 0.7s;
 }

   /*x on hamburger menu*/
   .menu-toggle span:nth-child(2){
    transform-origin: left center;
  }
  
  .menu-toggle span:nth-child(4){
    transform-origin: left center;
  }
  
  .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) ;
  }
  
  .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) ;
  }
  /* invis span ke 2 / child ke 3 */
  .menu-toggle input:checked ~ span:nth-child(3){
    width: 0%;
    opacity: 0;
    transition: .1s
  }.menu-toggle{
    display: none; 
    flex-direction: column;
    height: 17px;
    justify-content: space-between;
    position: relative;
 }
 .menu-toggle input{
     position: absolute;
     top:-5px;
     left:-3px;
     width:21px;
     height: 21px;
     opacity: 0;
     cursor: pointer;
     z-index: 2;
 }
 .menu-toggle span{
     display: block;
     width: 21px;
     height: 2px;
     background-color: whitesmoke;
     border-radius: 3px;
     transition: all 0.7s;
 }

   /*x on hamburger menu*/
   .menu-toggle span:nth-child(2){
    transform-origin: left center;
  }
  
  .menu-toggle span:nth-child(4){
    transform-origin: left center;
  }
  
  .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) ;
  }
  
  .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) ;
  }
  /* invis span ke 2 / child ke 3 */
  .menu-toggle input:checked ~ span:nth-child(3){
    width: 0%;
    opacity: 0;
    transition: .1s
  }

/* media */
@media screen and (max-width: 768px) {
    nav ul{
      width: 50%;
    }
  }

  @media screen and (max-width: 576px) {
   .menu-toggle{
       display: flex;
   }
   main{
       flex-direction: column-reverse;
   }
    nav ul {
      position: absolute;
      right:0;
      top: 0;
      width: 50%;
      flex-direction: column;
      height: 100vh;
      justify-content:space-evenly;
      align-items: center;
      background-color: red ;
      /* transform: translateX(100%);  */
      transition: all 0.72s;
      opacity: 0;
      z-index: 200px;
    }
    nav ul.menushow{
        opacity: 0.5;
        /* transform: translateX(0); */
    }
  }

/* table */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: rgb(215, 222, 38);
    color: rgb(12, 1, 1);
  }
  tfoot td {
    font-weight: bold;
  }